@import '@styles/variables.scss';

.channel-nav {
	display: flex;
	flex-direction: column;
	width: 310px;
	padding: 0 10px;
	background-color: $bg-secondary;
	--channel-nav-side-padding: 10px;

	&__header {
		padding: 0 var(--channel-nav-side-padding);
		text-align: left;
	}

	&__footer {
		background-color: $bg-secondary-alt;
		margin-top: auto;
	}
}
